* {
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}

ul,
ol {
  list-style: none;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}

.gallery {
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 1440px;
  padding: 24px 156px;
  box-sizing: border-box;
}

.gallery-image {
  width: 360px;
  height: 200px;
  transition: transform 0.3s;
}

.gallery-image:hover {
  transform: scale(1.05);
}
